doctype html
html
	head
		title We Draw
		script(src="/socket.io/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js")
		script(src="/javascripts/socket.js")
	body
		h3 And now, we draw!
		//- div(class="time")
		span(class="color-picker")
			button(class="lineColor" style="border:1px solid black;") red
			button(class="lineColor" style="border:1px solid black;") green
			button(class="lineColor" style="border:1px solid black;") blue
			button(class="lineColor" style="border:1px solid black;") purple
			button(class="lineColor" style="border:1px solid black;") black
		span(width="10px") -
		span(class="width-picker")
			button(class="lineWidth" id="5" style="border:1px solid black;") Thick
			button(class="lineWidth" id="3" style="border:1px solid black;") Normal
			button(class="lineWidth" id="1" style="border:1px solid black;") Thin
		br
		canvas(id="drawingCanvas" width="200" height="100" style="border:1px solid black;")
		
