extends ../layout

block content
    h1.
        #{title}
    form#formAddUser(name="adduser",method="post",action="/users")
        p Name: 
            input(type="text", placeholder="ex. John Smith", name="name")
        p Username:
            input(type="text", placeholder="ex. coolkid24", name="username")
        p Age: 
            input(type="number", name="age")
        p Are You Married?: 
            input(type="checkbox", name="married")
        p
            button(type="submit") submit